// Overall formatting
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: black;
}

// Mixins, variables, SCSS stuff...

@mixin rounded-text-input($height) {
    background-color: #eee;
    color: rgb(25, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
    font-size: $height/2;
    border: none;
    outline: none;
    height: $height;
    border-radius: $height/2;
    text-indent: $height/2;
}

@mixin center-element($width) {
    margin: {
        left: (100%-$width)/2;
        right: (100%-$width)/2;
    };
}

// Main components

.maintitle {
    text-align: center;
    margin: 35px 0;
}

.searchbar {
    @include rounded-text-input(55px);
    $width: 45%;
    width: $width;
    @include center-element($width);
    
}

.courselistroot {
    font-family: Arial, Helvetica, sans-serif;
    $biggestText: 45px;
    $width: 95%;
    width: $width;
    @include center-element(95%);
    margin: {
        top: 35px;
        bottom: 35px;
    }

    & > ul.subject-list {
        & > span.header {
            font-size: $biggestText;
        }
        & > span.subject-acronym {
            font-size: $biggestText/2.5;
            position: relative;
            // bottom: $biggestText/6;
            // left: $biggestText/7.5;
        }
        
        & > ul.course-list {
            position: relative;
            left: 4.5%; // TODO: don't make the indents relative
            & > span.header {
                font-size: $biggestText/1.17;
            }

            & > div.campus {
                font-size: $biggestText/1.5;
                position: relative;
                left: 4.5%;
            }

            & > ul.section-list {
                position: relative;
                left: 8%;
            }
        }
    }
}

.subjectheader {
    font-size: 25pt;
}
