// Overall formatting
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    color: black;
}

// Mixins, variables, SCSS stuff...

@mixin rounded-text-input($height) {
    background-color: #eee; // TODO: make placeholder a tad brighter
    color: rgb(25, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
    font-size: $height/2;
    border: none;
    outline: none;
    height: $height;
    border-radius: $height/2;
    text-indent: $height/2;
}

@mixin center-element($width) {
    margin: {
        left: (100%-$width)/2;
        right: (100%-$width)/2;
    }
}

// TODO: Take into account aspect ratios as well

// Smartphones
@media (min-width: 320px) and (max-width: 480px) {}

// Small tablets, smartphones (landscape)
@media (min-width: 481px) and (max-width: 767px) {}

// Tablets, Ipads (portrait)
@media (min-width: 768px) and (max-width: 1024px) {}

// Tablets, iPads (landscape)
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}

// Laptops, Desktops
@media (min-width: 1025px) and (max-width: 1280px) {}

// Desktops
@media (min-width: 1281px) {}

// Main components

.maintitle {
    text-align: center;
    margin: 35px 0;
}

.searchbar {
    $width: 45%;
    @include center-element($width);
    @include rounded-text-input(55px);
    width: $width;
}

.subject-list {
    .subject-acronym {
        padding-left: 1.5em;
    }
}

// Testing